<!--
 * @Descripttion: 
 * @Author: wjz
 * @Date: 2023-08-23 20:39:18
 * @LastEditors: wjz
 * @LastEditTime: 2023-08-24 19:45:46
-->

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="/" target="_self">Homepage</a></li>
          <!-- <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">中文主页</a></li> -->
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" target="_self">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item"><a href="/zh-homepage" target="_self">中文主页</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>